<section id="gallery" class="main-content">
    <div class="h-tag">Фотогалерея</div>
    <h2>Вкусные кадры с фестивалей</h2>

    <div class="gallery">
        <figure>
            <img src="~/img/festival1.jpg" alt="Street food">
            <figcaption>Street Food Moscow</figcaption>
        </figure>
        <figure>
            <img src="~/img/festival2.jpg" alt="Wine &amp; Cheese">
            <figcaption>Wine &amp; Cheese Sochi</figcaption>
        </figure>
        <figure>
            <img src="~/img/festival3.jpg" alt="Coffee weekend">
            <figcaption>Coffee Weekend</figcaption>
        </figure>
    </div>
</section>